---
import Layout from '../layouts/Layout.astro';
import CtaButton from '../components/CtaButton.vue'
import SvgIcons from '../components/SvgIcons.vue'
import HowItWorks from '../components/HowItWorks.vue'
import FeatureTabs from '../components/FeatureTabs.vue'
import Faq from '../components/Faq.vue'
import Flags from '../components/Flags.vue'
import Testimonials from '../components/Testimonials.vue'
import { Image } from 'astro:assets';
import FortImage from '../assets/images/fort.svg'
import FortExplainerImage from '../assets/images/fort-explainer-01.svg'
import MissionImage from '../assets/images/fortmission.svg'
import Workforce from '../assets/images/workforce.jpg'
import ClientsSlider from '../components/ClientsSlider.vue'

---

<Layout title="Welcome to Astro.">
	 <!-- ===== Hero Start ===== -->
      <section class="pt-16 xl:pt-24 pb-20 xl:pb-25 overflow-hidden bg-[#007675]">
        <div class="mx-auto max-w-c-1390 px-4 md:px-10 xl:px-20">
          <div class="flex lg:items-center lg:gap-8 xl:gap-32.5">
            <div class="animate_left md:w-1/2 text-white">
              <h1 class="dark:text-white text-3xl xl:text-7xl font-bold mb-5">
                Unlock Efficiency, Accuracy, and
                <span class="inline-block relative before:absolute before:bottom-2.5 before:left-0 before:w-full before:h-3 before:bg-titlebg dark:before:bg-titlebgdark before:-z-1 bg-gradient-to-r from-teal-400 to-yellow-200 bg-clip-text text-transparent">Excellence</span>
              </h1>
              <p class="text-xl">Your All-in-One Hub for Remote Business Support Services!</p>

              <div class="mt-10">
                 <CtaButton class="text-lg rounded-full w-fit">Get Quote</CtaButton>
              </div>
            </div>
            <div class="animate_right md:w-1/2 hidden lg:block">
              <div class="relative 2xl:-mr-7.5">
                <img src="/images/shape/shape-01.png" alt="shape" class="absolute -left-11.5 top-0" />
                <img src="/images/shape/shape-02.svg" alt="shape" class="absolute right-0 bottom-0" />
                <img src="/images/shape/shape-03.svg" alt="shape" class="absolute -right-6.5 bottom-0" />
                <div>
                  <Image src={FortImage} alt="Fort Remote Services"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ===== Hero End ===== -->

  <!-- ===== About Start ===== -->
  <section id="about" class="py-20 overflow-hidden">
    <div class="mx-auto max-w-c-1235 px-4 md:px-10 xl:px-20">
      <div class="flex items-center gap-8 lg:gap-32.5">
        <div class="animate_left hidden md:block md:w-1/2">
           <Image src={FortExplainerImage} alt="Fort Remote Services | Who We are"/>
        </div>
        <div class="animate_right md:w-1/2">
          <h4 class="text-black dark:text-white font-medium uppercase">
            about us
          </h4>
          <h2 class="relative font-bold  text-black dark:text-white text-3xl xl:text-hero mb-6">
            Who We Are
            <span class="inline-block relative before:absolute before:bottom-2.5 before:left-0 before:w-full before:h-3 before:bg-titlebg dark:before:bg-titlebgdark before:-z-1"></span>
          </h2>
          <div class="mt-7.5 flex items-center gap-5">
            <div class="w-5/6">
              <p class="text-lg">Welcome to FORT Remote, your trusted
                partner for remote business support
                services. With a strong commitment to
                excellence and a team of dedicated
                professionals, we have been helping
                businesses worldwide streamline their
                operations and enhance their efficiency
                since for over ten years.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ===== About End ===== -->
  <!-- ===== Our Story Start ===== -->
  <section class="pb-20 lg:pb-25 xl:pb-30 overflow-hidden">
    <div class="mx-auto max-w-c-1235 px-4 md:px-10 xl:px-20">
      <div class="flex items-center gap-8 lg:gap-32.5">
        <div class="animate_right md:w-1/2">
          <h4 class="text-black dark:text-white font-medium uppercase">
            Our Journey
          </h4>
          <h2 class="relative font-bold  text-black dark:text-white text-3xl xl:text-hero mb-6">
            Our  <span class="inline-block relative before:absolute before:bottom-2.5 before:left-0 before:w-full before:h-3 before:bg-titlebg2 dark:before:bg-titlebgdark before:-z-1">Story</span>
            <span class="inline-block relative before:absolute before:bottom-2.5 before:left-0 before:w-full before:h-3 before:bg-titlebg dark:before:bg-titlebgdark before:-z-1"></span>
          </h2>
          <!--                    <p>Welcome to FORT Remote, your trusted-->
          <!--                        partner for remote business support-->
          <!--                        services. </p>-->

          <div class="mt-7.5 flex items-center gap-5">
            <!--                        <div class="w-15 h-15 rounded-[50%] border border-stroke dark:border-strokedark dark:bg-blacksection flex items-center justify-center">-->
            <!--                            <p class="text-black dark:text-white font-semibold text-metatitle2">01</p>-->
            <!--                        </div>-->
            <div class="w-5/6">
              <!--                            <h5 class="text-black dark:text-white text-metatitle2 mb-0.5">Cost-Effective Solutions</h5>&ndash;&gt;-->
              <p class="text-lg">FORT Remote was founded with a precise vision -
                to empower businesses of all sizes with reliable
                and cost-effective remote support services. We
                recognized that in an increasingly digital world,
                companies needed a dependable partner to
                handle critical tasks like bookkeeping, data entry,
                and customer care without the need for an
                in-house team.</p>
            </div>
          </div>
          <!--                    <div class="mt-7.5 flex items-center gap-5">-->
          <!--                        <div class="w-15 h-15 rounded-[50%] border border-stroke dark:border-strokedark dark:bg-blacksection flex items-center justify-center">-->
          <!--                            <p class="text-black dark:text-white font-semibold text-metatitle2">02</p>-->
          <!--                        </div>-->
          <!--                        <div class="w-3/4">-->
          <!--                            <h5 class="text-black dark:text-white text-metatitle2 mb-0.5">Cost-Effective Solutions</h5>-->
          <!--                            <p>Outsource for cost savings, pay only for needed remote services.</p>-->
          <!--                        </div>-->
          <!--                    </div>-->
        </div>
        <div class="animate_left hidden md:block md:w-1/2">
          <Image src={Workforce} alt="Fort Remote Services | Workforce"/>
        </div>
      </div>
    </div>
  </section>
  <!-- ===== Our Story End ===== -->

  <!-- ===== Mission Start ===== -->
  <section class="pb-20 lg:pb-25 xl:pb-30 overflow-hidden">
    <div class="mx-auto max-w-c-1235 px-4 md:px-10 xl:px-20">
      <div class="flex items-center gap-8 lg:gap-32.5">
        <div class="animate_left hidden md:block md:w-1/2">
          <Image src={MissionImage} alt="Fort Remote Mission"/>
        </div>
        <div class="animate_right md:w-1/2">
          <h4 class="text-black dark:text-white font-medium uppercase">
            Our Purpose
          </h4>
          <h2 class="relative font-bold  text-black dark:text-white text-3xl xl:text-hero mb-6">
            Our Mission
            <span class="inline-block relative before:absolute before:bottom-2.5 before:left-0 before:w-full before:h-3 before:bg-titlebg dark:before:bg-titlebgdark before:-z-1"></span>
          </h2>
          <!--                    <p>Welcome to FORT Remote, your trusted-->
          <!--                        partner for remote business support-->
          <!--                        services. </p>-->

          <div class="mt-7.5 flex items-center gap-5">
            <!--                        <div class="w-15 h-15 rounded-[50%] border border-stroke dark:border-strokedark dark:bg-blacksection flex items-center justify-center">-->
            <!--                            <p class="text-black dark:text-white font-semibold text-metatitle2">01</p>-->
            <!--                        </div>-->
            <div class="w-3/4">
              <!--                            <h5 class="text-black dark:text-white text-metatitle2 mb-0.5">Cost-Effective Solutions</h5>&ndash;&gt;-->
              <p>Our mission is simple yet profound: To
                enable businesses to thrive in the
                digital age by providing exceptional
                remote tools and expertise they need
                to excel in their respective industries.

                We believe that success is built on a
                foundation of efficiency, accuracy, and
                outstanding customer experiences.

                We are committed to delivering
                exceptional services that free our clients
                from administrative burdens and allow
                them to focus on growth and innovation.

                We are driven by this mission every day,
                and it guides everything we do.</p>
            </div>
          </div>
          <!--                    <div class="mt-7.5 flex items-center gap-5">-->
          <!--                        <div class="w-15 h-15 rounded-[50%] border border-stroke dark:border-strokedark dark:bg-blacksection flex items-center justify-center">-->
          <!--                            <p class="text-black dark:text-white font-semibold text-metatitle2">02</p>-->
          <!--                        </div>-->
          <!--                        <div class="w-3/4">-->
          <!--                            <h5 class="text-black dark:text-white text-metatitle2 mb-0.5">Cost-Effective Solutions</h5>-->
          <!--                            <p>Outsource for cost savings, pay only for needed remote services.</p>-->
          <!--                        </div>-->
          <!--                    </div>-->
        </div>

      </div>
    </div>
  </section>
  <!-- ===== Mission End ===== -->

      <!-- ===== Features Tab Start ===== -->
      <FeatureTabs client:only="vue" />
      <!-- ===== Features Tab End ===== -->

  <!--how it works-->
   <HowItWorks />
  <!--end how it works-->

  <!-- ===== Global Impact Start ===== -->
  <section class="py-20 lg:py-22.5 px-4 md:px-8 2xl:px-0 z-10">
    <div
        class="mx-auto max-w-c-1390 py-22.5 xl:py-27.5 relative z-1 rounded-lg bg-gradient-to-t from-[#F8F9FF] to-[#DEE7FF] dark:bg-gradient-to-t dark:from-transparent dark:to-transparent dark:bg-blacksection dark:stroke-strokedark"
    >
      <!--          <img src="/images/shape/shape-04.svg" alt="Man" class="absolute -top-25 -left-15 lg:left-0 -z-1" />-->
      <img src="/images/shape/shape-05.svg" alt="Doodle" class="absolute bottom-0 right-0 -z-1"/>
      <img src="/images/shape/shape-dotted-light-02.svg" alt="Dotted" class="absolute top-0 left-0 -z-1 dark:hidden"/>
      <img src="/images/shape/shape-dotted-dark-02.svg" alt="Dotted" class="absolute top-0 left-0 -z-1 hidden dark:block"/>

      <div class="animate_top mx-auto text-center md:w-4/5 lg:w-2/3 xl:w-1/2 mb-12.5 lg:mb-17.5 px-4 md:px-0">
        <h2 class="font-bold text-black dark:text-white text-3xl xl:text-sectiontitle3 mb-4">Global Trust, Local Impact.</h2>
        <p class="lg:w-11/12 mx-auto">With a worldwide client base, we understand the unique requirements and regulations of different regions. Our international team is equipped to provide customized solutions tailored to your specific needs, no matter where you're located.</p>
      </div>
      <div class="flex justify-around">
        <Flags/>
      </div>

      <!--<div class="flex flex-wrap justify-center pt-10 gap-8 lg:gap-42.5">-->
      <!--  <div class="animate_top text-center">-->
      <!--    &lt;!&ndash;<h3 class="font-bold text-black dark:text-white text-3xl xl:text-sectiontitle3 mb-2.5">500K</h3>&ndash;&gt;-->
      <!--    <p class="text-lg lg:text-para2">World Wide Clients</p>-->
      <!--  </div>-->
      <!--  <div class="animate_top text-center">-->
      <!--    &lt;!&ndash;<h3 class="font-bold text-black dark:text-white text-3xl xl:text-sectiontitle3 mb-2.5">1M+</h3>&ndash;&gt;-->
      <!--    <p class="text-lg lg:text-para2">Downloads</p>-->
      <!--  </div>-->
      <!--  <div class="animate_top text-center">-->
      <!--    &lt;!&ndash;<h3 class="font-bold text-black dark:text-white text-3xl xl:text-sectiontitle3 mb-2.5">865</h3>&ndash;&gt;-->
      <!--    <p class="text-lg lg:text-para2">Winning Award</p>-->
      <!--  </div>-->
      <!--</div>-->
    </div>
  </section>
  <!-- ===== Global Impact End ===== -->

  <!-- ===== Integrations Start ===== -->
  <section>
    <div class="mx-auto max-w-c-1390 px-4 md:px-8 2xl:px-0">
      <!-- Section Title Start -->
      <div class="animate_top text-center mx-auto " >

        <div class="bg-zumthor dark:bg-blacksection dark:border dark:border-strokedark inline-block rounded-full py-1.5 px-4.5 mb-4">
          <h4  class="font-medium text-sectiontitle text-black dark:text-white">OUR TOOLS</h4>
        </div>
        <h2 class="font-bold text-3xl xl:text-sectiontitle3 text-black dark:text-white md:w-4/5 xl:w-1/2 mx-auto mb-4">Our Tool Stack</h2>
        <p class="mx-auto md:w-4/5 lg:w-3/5 xl:w-[46%]" > Seeking efficient and reliable remote bookkeeping and data entry services? Our skilled team, armed with a powerful tool stack, prioritizes accuracy, security, and efficiency to exceed your expectations. Here's an overview of our top-notch tools.</p>
      </div>
      <!-- Section Title End -->
    </div>

  </section>
      <!-- ===== Integrations End ===== -->
  <!-- ===== Clients Start ===== -->
  <section class="bg-alabaster dark:bg-black border border-x-0 border-y-stroke dark:border-y-strokedark py-3 my-8">
    <div class="w-full inline-flex flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-200px),transparent_100%">
      <ClientsSlider client:only="vue" />
    </div>
  </section>
  <!-- ===== Clients End ===== -->

      <!-- ===== FAQ Start ===== -->
      <section class="pb-20 lg:pb-25 xl:pb-30 overflow-hidden">
            <Faq client:only="vue" />
        <!-- This example requires Tailwind CSS v2.0+ -->
        <div class="bg-[#007675]">
          <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
            <h2 class="text-3xl font-extrabold tracking-tight text-white sm:text-4xl">
              <span class="block">Still have questions?</span>
              <span class="block bg-gradient-to-r from-teal-400 to-yellow-200 bg-clip-text text-transparent">Reach out for any enquiries today</span>
            </h2>
            <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
              <div class="inline-flex">
                <a href="/contact" class="faq-cta">
                    Let's Talk
                    <div class="arrow-wrapper">
                        <div class="arrow"></div>
                    </div>
                </a>
              </div>
            </div>
          </div>
        </div>

      </section>
      <!-- ===== FAQ End ===== -->

</Layout>

<style>
.faq-cta {
  --primary-color: rgb(27, 42, 40);
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

.faq-cta .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-cta .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.faq-cta .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.faq-cta:hover {
  background-color: var(--hover-color);
}

.faq-cta:hover .arrow {
  background: var(--secondary-color);
}

.faq-cta:hover .arrow:before {
  right: 0;
}
</style>
