---
import MaintenanceLayout from '../layouts/MaintenanceLayout.astro';
---

<MaintenanceLayout title="We are refurbishing">
    <div class="relative text-white p-18 lg:p-32 min-h-screen bg-[url('/images/about/maintenance-bg.svg')] bg-cover bg-no-repeat">
      <img src="/images/logo/logo-dark.svg" class="lg:w-[500px] w-[300px]">
        <div class="flex flex-col mt-8 lg:w-1/2 space-y-12">
          <h1 class="text-3xl md:text-4xl lg:text-6xl font-black">We are setting things up for you</h1>
          <p class="text-lg md:text-2xl lg:text-3xl text-gray-300 mt-8">Our team is working hard to re-launch the website soon. Keep tight</p>
        </div>
      <div>
        <div class="absolute bottom-0 left-0 right-0 flex items-center justify-between px-18 lg:px-32 py-8">
          <p class="">© Copyright FORT REMOTE | All Rights Reserved</p>
            <div class="hidden md:block">
              <img class="icons-linkedin" src="images/about/icons-linkedin.svg" />
            </div>
        </div>
      </div>
    </div>
</MaintenanceLayout>

<style>

</style>
